{%extends './partials/base.html'%}
{%block title%}
        Home
{%endblock%}
{% load crispy_forms_tags %}
{%block content%}
<section>
    <div class="card-header text-center text-white fw-bolder bg-dark">PROJECT LIST</div>
    <table id="table1" class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Project</th>
            <th scope="col">Budget</th>
            <th scope="col">Cost</th>
            <th scope="col">% Complete</th>
    
    
          </tr>
        </thead>
        <tbody>
        {%for p in pdata%}
          <tr>
            <th scope="row">{{p.id}}</th>
            <td>{{p.project}}</td>
            <td>{{p.budget}}</td>
            <td>{{p.project_number}}</td>
            <td>{{p.percentage}}</td>
          </tr>
          {%endfor%}
        </tbody>
        <button onclick="ExportToExcel('xlsx')">Export table to excel</button>
      </table>
    <div class="card-header text-center text-white fw-bolder bg-dark">TASK LIST</div>
      <table id="table" class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Task</th>
            <th scope="col">Project</th>
            <th scope="col">Budget</th>
            <th scope="col">Cost</th>
            <th scope="col">Risk</th>
          </tr>
        </thead>
        <tbody>
        {%for task in data%}
          <tr>
            <th scope="row">{{task.id}}</th>
            <td>{{task.task}}</td>
            <td>{{task.projects}}</td>
            <td>{{task.budget}}</td>
            <td>{{task.cost}}</td>
            <td>{{task.risk}}</td>
          </tr>
          {%endfor%}
        </tbody>
        <button onclick="ExportToExcel('xlsx')">Export table to excel</button>
      </table>
    </div>
  </div>
  <script>
    function ExportToExcel(type, fn, dl) {
      var elt = document.getElementById('table');
      var wb = XLSX.utils.table_to_book(elt, { sheet: "todo" });
      return dl ?
        XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
        XLSX.writeFile(wb, fn || ('Task_budget.' + (type || 'xlsx')));
   }
  
   function ExportToExcel1(type, fn, dl) {
    var elt = document.getElementById('table1');
    var wb = XLSX.utils.table_to_book(elt, { sheet: "todo" });
    return dl ?
      XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
      XLSX.writeFile(wb, fn || ('Project_budget.' + (type || 'xlsx')));
  }
  </script>
</section>
{%endblock%}
