{%extends './partials/base.html'%}
{%block title%}
        Home
{%endblock%}
{% load crispy_forms_tags %}
{%block content%}
<section>
    <div class="row">
        <div class="col-xl-6">
        <div class="card-header text-center text-white fw-bolder bg-dark">RISK TABLE</div>
      <table id="table" class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Task</th>
            <th scope="col">Project</th>
            <th scope="col">status</th>
            <th scope="col">piority</th>
            <th scope="col">risk</th>
          </tr>
        </thead>
        <tbody>
        {%for task in data%}
          <tr>
            <th scope="row">{{task.id}}</th>
            <td>{{task.task}}</td>
            <td>{{task.projects}}</td>
            <td>{{task.status}}</td>
            <td>{{task.piority}}</td>
            <td>{{task.risk}}</td>
          </tr>
          {%endfor%}
        </tbody>
        <button onclick="ExportToExcel('xlsx')">Export table to excel</button>
      </table>
        </div>
        <div class="col-xl-6">
            <div class="card shadow">
              <div class="card-header">
                Graph
              </div>
              <div class="card-body">
                <canvas id="myChart"></canvas >
              </div>
            </div>
        </div>
    </div>



      <script>

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Low risk', 'Medium risk','High risks'],
                datasets: [{
                    label: 'Risk graph',
                    data: [{{low_risk}},{{ med_risk }},{{ high_risk}}],
                    backgroundColor: [
    
                        '#196384',
                        '#371D84',
                        '#FE1325'
                    ],
                    borderColor: [
    
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(254, 19, 37, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        function ExportToExcel(type, fn, dl) {
          var elt = document.getElementById('table');
          var wb = XLSX.utils.table_to_book(elt, { sheet: "todo" });
          return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
            XLSX.writeFile(wb, fn || ('Risk.' + (type || 'xlsx')));
       }

        </script>

</section>
{%endblock%}