{%extends './partials/base.html'%}
{%block title%}
        Home
{%endblock%}
{% load crispy_forms_tags %}
{%block content%}
<section>
    <div class="row">
        <div class="col-xl-6">
        <div class="card-header text-center fw-bolder">RISK TABLE</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Task</th>
            <th scope="col">Project</th>
            <th scope="col">status</th>
            <th scope="col">piority</th>
            <th scope="col">risk</th>
          </tr>
        </thead>
        <tbody>
        {%for task in data%}
          <tr>
            <th scope="row">{{task.id}}</th>
            <td>{{task.task}}</td>
            <td>{{task.projects}}</td>
            <td>{{task.status}}</td>
            <td>{{task.piority}}</td>
            <td>{{task.risk}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
        </div>
        <div class="col-xl-6">
            <div class="card shadow">
              <div class="card-header">
                Graph
              </div>
              <div class="card-body">
                <canvas id="myChart"></canvas >
              </div>
            </div>
        </div>
    </div>



      <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Low risk', 'Medium risk','High risks'],
                datasets: [{
                    label: '# Task graph',
                    data: [{{low_risk}},{{ med_risk }},{{ high_risk}}],
                    backgroundColor: [
    
                        '#196384',
                        '#371D84',
                        '#FE1325'
                    ],
                    borderColor: [
    
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(254, 19, 37, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>>
</section>
{%endblock%}